jade/login.jade
ion-view
  ion-content(style='background: url(img/background.jpg) no-repeat center')

    .login-logo-container
      img(src='img/Jkptg-Logo.png')

    .user-info
      span www.jkptg.gov.my


    .list.list-inset
      label.item.item-input
        input.placeholerCenter(type='text', placeholder='E-mail', ng-model='data.email')
      label.item.item-input
        input.placeholerCenter(type='password', placeholder='Password', ng-model='data.pass')

      button.button.button-block.button-calm(ng-click='login()', ng-disabled='!data.email || !data.pass')
        | Login

www/templates/login.html
<ion-view><ion-content style="background: url(img/background.jpg) no-repeat center"><div class="login-logo-container"><img src="img/Jkptg-Logo.png"/></div><div class="user-info"><span>www.jkptg.gov.my</span></div><div class="list list-inset"><label class="item item-input"><input type="text" placeholder="E-mail" ng-model="data.email" class="placeholerCenter"/></label><label class="item item-input"><input type="password" placeholder="Password" ng-model="data.pass" class="placeholerCenter"/></label><button ng-click="login()" ng-disabled="!data.email || !data.pass" class="button button-block button-calm">Login</button></div></ion-content></ion-view>
