platforms/ios/www/templates/main.html
<ion-view><ion-content scroll="false" class="viewDiv"><div id="viewDiv"></div><div ng-click="home()" class="home-btn"><div class="btn circle raised"><i class="ion-ios-home"></i></div></div><div class="onmap-logo-container"><img src="img/Jkptg-Logo.png"/></div></ion-content></ion-view>

jade/main.jade
ion-view
  ion-content.viewDiv(scroll='false')
    #viewDiv

    .home-btn(ng-click='home()')
      .btn.circle.raised
        i.ion-ios-home
    //- div(style='position: absolute;bottom: 78px;right: 34px;border:1px red solid;background: white;-webkit-border-radius: 50%;max-width: 34px;max-height: 34px;overflow: hidden;')
    //-   span.ion-ios-plus-outline(style='font-size: 42pt;')

    .onmap-logo-container
      img(src='img/Jkptg-Logo.png')
