platforms/ios/www/templates/menu.html
<ion-side-menus enable-menu-with-back-views="false"><ion-side-menu-content drag-content="false"><ion-nav-bar class="bar-calm"><ion-nav-back-button></ion-nav-back-button><ion-nav-buttons side="left"><button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button></ion-nav-buttons></ion-nav-bar><ion-nav-view name="menuContent"></ion-nav-view></ion-side-menu-content><ion-side-menu side="left"><ion-header-bar class="bar-calm"></ion-header-bar><ion-content><ion-list><ion-item menu-close="" class="calm-background no-border"><div class="rounded-img"><img src="img/profile.png"/></div><div class="user-info"><span>{{userInfo.name}}</span><span>{{userInfo.email}}</span><button ng-click="logout()" class="button button-icon icon-left ion-log-out">logout</button></div></ion-item><ion-item class="no-border">Layers</ion-item><ion-item menu-close="" ng-click="chooseLayers()" class="no-border"><span class="ion-ios-flag">&nbsp&nbsp&nbsp Choose Layers</span></ion-item><ion-item menu-close="" ng-click="removeAllLayers()" class="no-border"><span class="ion-ios-flag-outline">&nbsp&nbsp&nbsp Clear All</span></ion-item><ion-item>Basemap</ion-item><ion-item menu-close="" ng-click="BasemapGallery()" class="no-border"><span class="ion-ios-flag-outline">&nbsp&nbsp&nbsp Choose Basemap</span></ion-item><ion-item>Search</ion-item><ion-item menu-close="" ng-click="searchByUpi()" class="no-border"><span class="ion-ios-flag-outline">&nbsp&nbsp&nbsp By UPI</span></ion-item><ion-item menu-close="" ng-click="searchByCoordinate()" class="no-border"><span class="ion-ios-flag-outline">&nbsp&nbsp&nbsp By Coordinate </span></ion-item></ion-list></ion-content></ion-side-menu></ion-side-menus>

jade/menu.jade
ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content(drag-content="false")
    ion-nav-bar.bar-calm
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
        //- .bar.bar-header.item-input-inset
        //-   label.item-input-wrapper.textbox-search
        //-     i.icon.ion-ios7-search.placeholder-icon
        //-     input(type='search', placeholder='Search')

    ion-nav-view(name='menuContent')
  ion-side-menu(side='left')
    ion-header-bar.bar-calm
    ion-content
      ion-list
        ion-item.calm-background.no-border(menu-close='')
          .rounded-img
            img(src='img/profile.png')
          .user-info
            span {{userInfo.name}}
            span {{userInfo.email}}
            button.button.button-icon.icon-left.ion-log-out(ng-click='logout()') logout
              


        ion-item.no-border
          | Layers
        ion-item.no-border(menu-close='', ng-click='chooseLayers()')
          span.ion-ios-flag &nbsp&nbsp&nbsp Choose Layers
        ion-item.no-border(menu-close='', ng-click='removeAllLayers()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp Clear All
        
        ion-item
          | Basemap
        ion-item.no-border(menu-close='', ng-click='BasemapGallery()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp Choose Basemap
        
        ion-item
          | Search
        ion-item.no-border(menu-close='', ng-click='searchByUpi()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp By UPI
        ion-item.no-border(menu-close='', ng-click='searchByCoordinate()')
          span.ion-ios-flag-outline &nbsp&nbsp&nbsp By Coordinate 
