www/templates/mymodal.html
<ion-modal-view><ion-header-bar><h1 class="title">Land Iinformation</h1></ion-header-bar><ion-content><div class="list card"><div class="item"><h2>UPI:</h2><p>{{modalInfo.UPI}}</p><br/><h2>NO JKPTG:</h2><p>{{modalInfo.NO_JKPTG}}</p><br/><h2>Negeri:</h2><p>{{modalInfo.NAMA_NEGERI}}</p><br/><h2>Daerah:</h2><p>{{modalInfo.NAMA_DAERAH}}</p><br/><h2>Mukim:</h2><p>{{modalInfo.NAMA_MUKIM}}</p><br/><h2>Guna Tanah:</h2><p>{{modalInfo.GUNA_TANAH}}</p><br/><h2>Kementerian:</h2><p>{{modalInfo.KEMENTERIAN}}</p><br/></div></div><br/><div class="clear"></div><div class="bar bar-footer"><button ng-click="close()" class="button button-block button-calm">OK</button></div></ion-content></ion-modal-view>

jade/mymodal.jade
ion-modal-view
  ion-header-bar
    h1.title Land Iinformation
  ion-content
    .list.card
      .item
        h2 UPI:
        p {{modalInfo.UPI}}
        br
        h2 NO JKPTG:
        p {{modalInfo.NO_JKPTG}}
        br
        h2 Negeri:
        p {{modalInfo.NAMA_NEGERI}}
        br
        h2 Daerah:
        p {{modalInfo.NAMA_DAERAH}}
        br
        h2 Mukim:
        p {{modalInfo.NAMA_MUKIM}}
        br
        h2 Guna Tanah:
        p {{modalInfo.GUNA_TANAH}}
        br
        h2 Kementerian:
        p {{modalInfo.KEMENTERIAN}}
        br
    br
    div.clear
    .bar.bar-footer
      button.button.button-block.button-calm(ng-click='close()') OK
